In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\s.sathishkumar\anaconda3\lib\site-packages (9.1.0)

In [1]:
import mysql.connector
import pandas as pd

db = mysql.connector.connect(
    host="localhost",  
    user="root",      
    password="Priya@16",   
    database="startups" 
)

cursor = db.cursor()
cursor

In [3]:
query = "SELECT * FROM startups.table"
df = pd.read_sql(query, db)
df

C:\Users\s.sathishkumar\AppData\Local\Temp\ipykernel_3112\3517023617.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, db)

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000"
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000"
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000"
...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,,,,Asia Pacific Internet Group,Private Equity,"4,500,000"
2368,2368,29/01/2015,Graphene,,,,KARSEMVEN Fund,Private Equity,"825,000"
2369,2369,30/01/2015,Mad Street Den,,,,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000"
2370,2370,30/01/2015,Simplotel,,,,MakeMyTrip,Private Equity,
2371,2371,31/01/2015,couponmachine.in,,,,UK based Group of Angel Investors,Seed Funding,"140,000"

In [5]:
print(df['AmountInUSD'].describe())

count     2372
unique     330
top
freq       847
Name: AmountInUSD, dtype: object

In [31]:
missing_values = df['AmountInUSD'].isnull().sum()
missing_values

0

In [27]:
#Measures
#convert AmountInUSD to numeric
df['AmountInUSD']=df['AmountInUSD'].astype(str)
df['AmountInUSD']=df['AmountInUSD'].str.replace(',','')
df['AmountInUSD']= pd.to_numeric(df['AmountInUSD'],errors='coerce')
df['AmountInUSD'].fillna(0,inplace= True)

mean_value= df['AmountInUSD'].mean()
median_value = df['AmountInUSD'].median()
mode_value = df['AmountInUSD'].mode()
std_dev = df['AmountInUSD'].std()
max_value = df['AmountInUSD'].max()
min_value = df['AmountInUSD'].min()
total_sum =df['AmountInUSD'].sum()
print(f"mean_value:{mean_value}")
print(f"total_sum:{total_sum}")
print(f"mode_value:{mode_value}")
print(f"std_dev:{std_dev}")
print(f"max_value:{max_value}")
print(f"min_value:{min_value}")
print(f"total_sum:{total_sum}")

mean_value:7734985.866779089
total_sum:18347386476.0
mode_value:0    0.0
Name: AmountInUSD, dtype: float64
std_dev:51658323.53869951
max_value:1400000000.0
min_value:0.0
total_sum:18347386476.0